
@{
    ViewBag.Title = "quickPass - Nasıl Çalışır?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="col-md-12 row">
        <div class="col-md-1"></div>
        <div class="col-md-5">

            <img src="~/Image/UyelikFoto.png" />
        </div>
        <div class="col-md-5 text-center">
            <h6 style="color:#555; margin-top:60px;"><b>Kullanmaya başlamak için üye olun.</b></h6>
            <p style="color:#888; text-align:justify;">
                Sitemizin menüdeki üye ol menüsünden veya <a href="#" style="text-decoration:none; color:#888;"><b>buradan</b></a> hemen üye olarak kişisel veya kurumsal şifrelerinizi kriptolu olarak güvenle saklayabilirsiniz.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br /><br />
    <div class="col-md-12 row">
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center">
            <h6 style="color:#555; margin-top:60px;"><b>Üye oldunuz mu? Giriş yapın.</b></h6>
            <p style="color:#888; text-align:justify;">
                Gerekli adımları tamamlayıp üyeliğinizi aktifleştirdikten sonra <a>giriş yap</a>arak şifrelerinizi unutmadan güvende tutmaya başlayın!
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="~/Image/GirisFoto.png" />
        </div>
    </div>
    <hr />
    <div class="col-md-12 row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img src="~/Image/security.gif" width="35%"/>
            <img src="~/Image/animation.png" width="60%"/>
        </div>
        <div class="col-md-1"></div>
    </div>
    
</div>
    